# =====================================================
# APPLICATION CONFIGURATION
# =====================================================

APP_NAME=example  # Application name (snake_case recommended)

# =====================================================
# ADMINIST AND PASSWORD
# =====================================================

# SHARDE EVERES (everesRS)
MONGO_ADMINIST_SHARDE_EVERES=MONGO_ADMINIST_SHARDE_EVERES
MONGO_PASSWORD_SHARDE_EVERES=MONGO_PASSWORD_SHARDE_EVERES

# SHARDE FANSIP (fansipRS)
MONGO_ADMINIST_SHARDE_FANSIP=MONGO_ADMINIST_SHARDE_FANSIP
MONGO_PASSWORD_SHARDE_FANSIP=MONGO_PASSWORD_SHARDE_FANSIP

# SHARDE FUJIMO (fujimoRS)
MONGO_ADMINIST_SHARDE_FUJIMO=MONGO_ADMINIST_SHARDE_FUJIMO
MONGO_PASSWORD_SHARDE_FUJIMO=MONGO_PASSWORD_SHARDE_FUJIMO

# CONFIG SERVER (matterRS)
MONGO_ADMINIST_SHARDE_MATTER=MONGO_ADMINIST_SHARDE_MATTER
MONGO_PASSWORD_SHARDE_MATTER=MONGO_PASSWORD_SHARDE_MATTER

# MONGO EXPRESS DASHBOARD
EXPRESS_ADMINIST=admin
EXPRESS_PASSWORD=password

# =====================================================
# PORT
# =====================================================

# DEFAULT PORT OF
PORT_OF_MONGOS=27017
PORT_OF_EXPRES=8081

# MONGOS EXPRESS
MONGOS_EXPRES_IO_PORT=8081

# NODE DN
MONGOS_ROUTER_DN_PORT=27017
SHARDE_MATTER_DN_PORT=27027
SHARDE_EVERES_DN_PORT=27037
SHARDE_FANSIP_DN_PORT=27047
SHARDE_FUJIMO_DN_PORT=27057

# NODE HN
MONGOS_ROUTER_HN_PORT=27018
SHARDE_MATTER_HN_PORT=27028
SHARDE_EVERES_HN_PORT=27038
SHARDE_FANSIP_HN_PORT=27048
SHARDE_FUJIMO_HN_PORT=27058

# NODE SG
MONGOS_ROUTER_SG_PORT=27019
SHARDE_MATTER_SG_PORT=27029
SHARDE_EVERES_SG_PORT=27039
SHARDE_FANSIP_SG_PORT=27049
SHARDE_FUJIMO_SG_PORT=27059

# =====================================================
# IP SERVER ADDRESS
# =====================================================

# NODE DN
MONGOS_ROUTER_DN_ADRS=mongos-router-dn:27017
SHARDE_MATTER_DN_ADRS=sharde-matter-dn:27017
SHARDE_EVERES_DN_ADRS=sharde-everes-dn:27017
SHARDE_FANSIP_DN_ADRS=sharde-fansip-dn:27017
SHARDE_FUJIMO_DN_ADRS=sharde-fujimo-dn:27017

# NODE HN
MONGOS_ROUTER_HN_ADRS=mongos-router-hn:27017
SHARDE_MATTER_HN_ADRS=sharde-matter-hn:27017
SHARDE_EVERES_HN_ADRS=sharde-everes-hn:27017
SHARDE_FANSIP_HN_ADRS=sharde-fansip-hn:27017
SHARDE_FUJIMO_HN_ADRS=sharde-fujimo-hn:27017

# NODE SG
MONGOS_ROUTER_SG_ADRS=mongos-router-sg:27017
SHARDE_MATTER_SG_ADRS=sharde-matter-sg:27017
SHARDE_EVERES_SG_ADRS=sharde-everes-sg:27017
SHARDE_FANSIP_SG_ADRS=sharde-fansip-sg:27017
SHARDE_FUJIMO_SG_ADRS=sharde-fujimo-sg:27017
