# =====================================================
# APPLICATION CONFIGURATION
# =====================================================

APP_NAME=example  # Application name (snake_case recommended)


# =====================================================
# SHARDE EVERES (everesRS)
# =====================================================

MONGO_ADMINIST_SHARDE_EVERES=MONGO_ADMINIST_SHARDE_EVERES
MONGO_PASSWORD_SHARDE_EVERES=MONGO_PASSWORD_SHARDE_EVERES


# =====================================================
# SHARDE FANSIP (fansipRS)
# =====================================================

MONGO_ADMINIST_SHARDE_FANSIP=MONGO_ADMINIST_SHARDE_FANSIP
MONGO_PASSWORD_SHARDE_FANSIP=MONGO_PASSWORD_SHARDE_FANSIP


# =====================================================
# SHARDE FUJIMO (fujimoRS)
# =====================================================

MONGO_ADMINIST_SHARDE_FUJIMO=MONGO_ADMINIST_SHARDE_FUJIMO
MONGO_PASSWORD_SHARDE_FUJIMO=MONGO_PASSWORD_SHARDE_FUJIMO


# =====================================================
# CONFIG SERVER (matterRS)
# =====================================================

MONGO_ADMINIST_SHARDE_MATTER=MONGO_ADMINIST_SHARDE_MATTER
MONGO_PASSWORD_SHARDE_MATTER=MONGO_PASSWORD_SHARDE_MATTER


# =====================================================
# MONGO EXPRESS DASHBOARD
# =====================================================

EXPRESS_ADMIN=admin
EXPRESS_PASSWORD=password


# =====================================================
# PORT
# =====================================================

MONGOS_EXPRES_IO_PORT=8081

MONGOS_ROUTER_DN_PORT=27017
SHARDE_MATTER_DN_PORT=27027
SHARDE_EVERES_DN_PORT=27037
SHARDE_FANSIP_DN_PORT=27047
SHARDE_FUJIMO_DN_PORT=27057

MONGOS_ROUTER_HN_PORT=27018
SHARDE_MATTER_HN_PORT=27028
SHARDE_EVERES_HN_PORT=27038
SHARDE_FANSIP_HN_PORT=27048
SHARDE_FUJIMO_HN_PORT=27058

MONGOS_ROUTER_SG_PORT=27019
SHARDE_MATTER_SG_PORT=27029
SHARDE_EVERES_SG_PORT=27039
SHARDE_FANSIP_SG_PORT=27049
SHARDE_FUJIMO_SG_PORT=27059
