# =====================================================
# APPLICATION CONFIGURATION
# =====================================================

APP_NAME=example  # Application name (snake_case recommended)


# =====================================================
# SHARDE EVERES (everesRS)
# =====================================================

MONGO_ADMIN_SHARDE_EVERES=MONGO_ADMIN_SHARDE_EVERES
MONGO_PASSWORD_SHARDE_EVERES=MONGO_PASSWORD_SHARDE_EVERES


# =====================================================
# SHARDE FANSIP (fansipRS)
# =====================================================

MONGO_ADMIN_SHARDE_FANSIP=MONGO_ADMIN_SHARDE_FANSIP
MONGO_PASSWORD_SHARDE_FANSIP=MONGO_PASSWORD_SHARDE_FANSIP


# =====================================================
# SHARDE FUJIMO (fujimoRS)
# =====================================================

MONGO_ADMIN_SHARDE_FUJIMO=MONGO_ADMIN_SHARDE_FUJIMO
MONGO_PASSWORD_SHARDE_FUJIMO=MONGO_PASSWORD_SHARDE_FUJIMO


# =====================================================
# CONFIG SERVER (configRS)
# =====================================================

MONGO_ADMIN_CONFIG_SERVER=MONGO_ADMIN_CONFIG_SERVER
MONGO_PASSWORD_CONFIG_SERVER=MONGO_PASSWORD_CONFIG_SERVER


# =====================================================
# MONGO EXPRESS DASHBOARD
# =====================================================

EXPRESS_ADMIN=admin
EXPRESS_PASSWORD=password


# =====================================================
# MONGO EXPRESS DASHBOARD
# =====================================================

EXPRESS_PORT=8081
MONGOS_ROUTER_DN_PORT=27017
MONGOS_ROUTER_HN_PORT=27018
MONGOS_ROUTER_SG_PORT=27019
