# =====================================================
# APPLICATION CONFIGURATION
# =====================================================

APP_NAME=example  # Application name (snake_case recommended)

# =====================================================
# ADMINIST AND PASSWORD
# =====================================================

# SHARDE EVERES (everesRS)
MONGO_ADMINIST_SHARDE_EVERES=MONGO_ADMINIST_SHARDE_EVERES
MONGO_PASSWORD_SHARDE_EVERES=MONGO_PASSWORD_SHARDE_EVERES

# SHARDE FANSIP (fansipRS)
MONGO_ADMINIST_SHARDE_FANSIP=MONGO_ADMINIST_SHARDE_FANSIP
MONGO_PASSWORD_SHARDE_FANSIP=MONGO_PASSWORD_SHARDE_FANSIP

# SHARDE FUJIMO (fujimoRS)
MONGO_ADMINIST_SHARDE_FUJIMO=MONGO_ADMINIST_SHARDE_FUJIMO
MONGO_PASSWORD_SHARDE_FUJIMO=MONGO_PASSWORD_SHARDE_FUJIMO

# CONFIG SERVER (matterRS)
MONGO_ADMINIST_SHARDE_MATTER=MONGO_ADMINIST_SHARDE_MATTER
MONGO_PASSWORD_SHARDE_MATTER=MONGO_PASSWORD_SHARDE_MATTER

# MONGO EXPRESS DASHBOARD
EXPRESS_ADMINIST=admin
EXPRESS_PASSWORD=password

# =====================================================
# PORT OF
# =====================================================

# MONGOS EXPRESS
MONGOS_EXPRES_IO_PORT_OF=8081

# NODE DN
MONGOS_ROUTER_DN_PORT_OF=27017 # 27027
SHARDE_MATTER_DN_PORT_OF=27017 # 27028
SHARDE_EVERES_DN_PORT_OF=27017 # 27029
SHARDE_FANSIP_DN_PORT_OF=27017 # 27030
SHARDE_FUJIMO_DN_PORT_OF=27017 # 27031

# NODE HN
MONGOS_ROUTER_HN_PORT_OF=27017 # 27037
SHARDE_MATTER_HN_PORT_OF=27017 # 27038
SHARDE_EVERES_HN_PORT_OF=27017 # 27039
SHARDE_FANSIP_HN_PORT_OF=27017 # 27040
SHARDE_FUJIMO_HN_PORT_OF=27017 # 27041

# NODE SG
MONGOS_ROUTER_SG_PORT_OF=27017 # 27047
SHARDE_MATTER_SG_PORT_OF=27017 # 27048
SHARDE_EVERES_SG_PORT_OF=27017 # 27049
SHARDE_FANSIP_SG_PORT_OF=27017 # 27050
SHARDE_FUJIMO_SG_PORT_OF=27017 # 27051

# =====================================================
# PORT
# =====================================================

# MONGOS EXPRESS
MONGOS_EXPRES_IO_PORT=8081

# NODE DN
MONGOS_ROUTER_DN_PORT=27027
SHARDE_MATTER_DN_PORT=27028
SHARDE_EVERES_DN_PORT=27029
SHARDE_FANSIP_DN_PORT=27030
SHARDE_FUJIMO_DN_PORT=27031

# NODE HN
MONGOS_ROUTER_HN_PORT=27037
SHARDE_MATTER_HN_PORT=27038
SHARDE_EVERES_HN_PORT=27039
SHARDE_FANSIP_HN_PORT=27040
SHARDE_FUJIMO_HN_PORT=27041

# NODE SG
MONGOS_ROUTER_SG_PORT=27047
SHARDE_MATTER_SG_PORT=27048
SHARDE_EVERES_SG_PORT=27049
SHARDE_FANSIP_SG_PORT=27050
SHARDE_FUJIMO_SG_PORT=27051

# =====================================================
# IP SERVER ADDRESS
# =====================================================

# NODE DN
MONGOS_ROUTER_DN_ADRS=mongos-router-dn # devlop-router-ms
SHARDE_MATTER_DN_ADRS=sharde-matter-dn # devlop-router-ms
SHARDE_EVERES_DN_ADRS=sharde-everes-dn # devlop-router-ms
SHARDE_FANSIP_DN_ADRS=sharde-fansip-dn # devlop-router-ms
SHARDE_FUJIMO_DN_ADRS=sharde-fujimo-dn # devlop-router-ms

# NODE HN
MONGOS_ROUTER_HN_ADRS=mongos-router-hn # devlop-router-ms
SHARDE_MATTER_HN_ADRS=sharde-matter-hn # devlop-router-ms
SHARDE_EVERES_HN_ADRS=sharde-everes-hn # devlop-router-ms
SHARDE_FANSIP_HN_ADRS=sharde-fansip-hn # devlop-router-ms
SHARDE_FUJIMO_HN_ADRS=sharde-fujimo-hn # devlop-router-ms

# NODE SG
MONGOS_ROUTER_SG_ADRS=mongos-router-sg # devlop-router-ms
SHARDE_MATTER_SG_ADRS=sharde-matter-sg # devlop-router-ms
SHARDE_EVERES_SG_ADRS=sharde-everes-sg # devlop-router-ms
SHARDE_FANSIP_SG_ADRS=sharde-fansip-sg # devlop-router-ms
SHARDE_FUJIMO_SG_ADRS=sharde-fujimo-sg # devlop-router-ms
