# =====================================================
# APPLICATION CONFIGURATION
# =====================================================

APP_NAME=example  # Application name (snake_case recommended)


# =====================================================
# SHARDE EVERES (everesRS)
# =====================================================

MONGO_ADMIN_SHARDE_EVERES=admin
MONGO_PASSWORD_SHARDE_EVERES=password


# =====================================================
# SHARDE FANSIP (fansipRS)
# =====================================================

MONGO_ADMIN_SHARDE_FANSIP=admin
MONGO_PASSWORD_SHARDE_FANSIP=password


# =====================================================
# SHARDE FUJIMO (fujimoRS)
# =====================================================

MONGO_ADMIN_SHARDE_FUJIMO=admin
MONGO_PASSWORD_SHARDE_FFUJIMO=password


# =====================================================
# CONFIG SERVER (configRS)
# =====================================================

MONGO_ADMIN_CONFIG_SERVER=admin
MONGO_PASSWORD_CONFIG_SERVER=password


# =====================================================
# MONGO EXPRESS DASHBOARD
# =====================================================

EXPRESS_ADMIN=admin
EXPRESS_PASSWORD=password
